SECRET_KEY=secret
DEBUG=true
REGISTRATION_ENABLED=false
ALLOWED_HOSTS=test-radar.ilaletdinov.ru
DATABASE_URL=postgres://test_radar:test_radar@localhost:5432/test_radar
WHITENOISE_AUTOREFRESH = False
WHITENOISE_USE_FINDERS = False
WHITENOISE_MAX_AGE = 31536000
EMAIL_BACKEND=anymail.backends.brevo.EmailBackend
DEFAULT_FROM_EMAIL=noreply@testradar.local
BREVO_API_KEY=
RADAR_TOKEN=

